* {
    font-family: sans-serif;
}

body > div:not(.bk-ToolTip) {
    position: relative;
    z-index: 1;
    color: light-dark(black, white);
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

#LocationsPlot * {
    color: #000;
  }

#game_canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#centreSection {
    --width:  80vw;
    --height: 80vh;
    text-align: center;
    overflow-y: scroll;
    background: light-dark(lightgray, gray);
    border: solid light-dark(#333333aa, #aaaaaaaa);
    border-radius: 10px;
    padding: 5px;
    width:  var(--width);
    height: var(--height);
    /* Put the topleft of the box in the centre and then move the box over half it's width and height to be perfectly centred! */
    top:  50vh;
    left: 50vw;
    margin-left: calc(0px - var(--width ) / 2);
    margin-top:  calc(0px - var(--height) / 2);
}

#topRight {
    top: 5px;
    right: 10px;
    position: absolute;
}

.together {
    display: flex;
    align-items: center;
}
