* {
    font-family: sans-serif;
}

#game_canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

body * {
    position: relative;
    z-index: 1;
}

#centreSection {
    --width:  80vw;
    --height: 80vh;
    text-align: center;
    background: lightgray;
    border: solid #000;
    border-radius: 10px;
    padding: 5px;
    width:  var(--width);
    height: var(--height);
    /* Put the topleft of the box in the centre and then move the box over half it's width and height to be perfectly centred! */
    top:  50vh;
    left: 50vw;
    margin-left: calc(0px - var(--width ) / 2);
    margin-top:  calc(0px - var(--height) / 2);
}