* {
    font-family: sans-serif;
}

.vAlign * {
    vertical-align: middle;
}

:root {
    --svg-theme-light-primary: #090D49;
    --svg-theme-light-secondary: #65CDAE;
    --svg-theme-light-tertiary: #E5E7EB;

    --svg-theme-dark-primary: #FFF;
    --svg-theme-dark-secondary: #65CDAE;
    --svg-theme-dark-tertiary: #37A987;
}

body > div:not(.bk-ToolTip) {
    position: relative;
    z-index: 1;
    color: light-dark(black, white);
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

#LocationsPlot * {
    color: #000;
  }

#game_canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#centreSection {
    --width:  80vw;
    --height: 80vh;
    text-align: center;
    overflow-y: scroll;
    background: light-dark(lightgray, gray);
    border: solid light-dark(#333333aa, #aaaaaaaa);
    border-radius: 10px;
    padding: 5px;
    width:  var(--width);
    height: var(--height);
    /* Put the topleft of the box in the centre and then move the box over half it's width and height to be perfectly centred! */
    top:  50vh;
    left: 50vw;
    margin-left: calc(0px - var(--width ) / 2);
    margin-top:  calc(0px - var(--height) / 2);
}

#WeatherPlotArea {
    position: relative;
}

#trainAIButton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#trainAIButton:has(+ #myplot:empty) {
    display: none;
}

#myplot canvas.bk-layer {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#LocationsPlot canvas.bk-layer {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#topRight {
    top: 5px;
    right: 10px;
    position: absolute;
}

.together {
    display: flex;
    align-items: center;
}

/* Modified version of https://static.snoweb.io/snowebsvg/dist/css/themesauto-0.0.131.css to fit this light-dark theme */
.svg-fill-primary {
    fill:light-dark(var(--svg-theme-light-primary), var(--svg-theme-dark-primary))
}
.svg-fill-secondary {
    fill:light-dark(var(--svg-theme-light-secondary), var(--svg-theme-dark-secondary))
}
.svg-fill-tertiary {
    fill:light-dark(var(--svg-theme-light-tertiary), var(--svg-theme-dark-tertiary))
}
.svg-stroke-primary {
    stroke:light-dark(var(--svg-theme-light-primary), var(--svg-theme-dark-primary))
}
.svg-stroke-secondary {
    stroke:light-dark(var(--svg-theme-light-secondary), var(--svg-theme-dark-secondary))
}
.svg-stroke-tertiary {
    stroke:light-dark(var(--svg-theme-light-tertiary), var(--svg-theme-dark-tertiary))
}
