<head>
    <script src="{{url_for('static', filename='BG_Anxiety.js')}}"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='switch.css')}}">
    <title>Data Analysis</title>
    <link rel='shortcut icon' href="{{url_for('static', filename='favicon.ico')}}" type='image/x-icon'/ >
</head>
<canvas id="game_canvas"></canvas>
<body>
    <div id="topRight">
        <p class="unselectable" style="margin-bottom: 1px; margin-top: 5px;">Theme:</p>
        <div class="together">
            <p class="unselectable">Dark  </p>
            <label class="switch" id="ThemeSwitch">
                <input id="themeSwitch" type="checkbox" onclick="changeTheme(this.checked);">
                <span class="slider round"></span>
            </label>
            <p class="unselectable">  Light</p>
        </div>
    </div>
    <div id="centreSection">
        <p id="progress">NOT STARTED</p>
        <p id="progressStatus"></p>
        <p id="progressState">PRESS THE BUTTON BELOW TO START</p>
        <button onclick="start_long_task();">Start!</button>
        <form action="{{ url_for('read_form')}}" method="post">
            <label for="email" class="form-label">Email address</label>
                <select id="cars" name="cars">
                    <optgroup label="Swedish Cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                    </optgroup>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                </select>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <img src='data:image/png;base64,{{data}}' onerror="this.style.display='none'"/>
    </div>
</body>