<head>
    <script src="{{url_for('static', filename='BG_Anxiety.js')}}"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='switch.css')}}">
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.5.0.min.js"></script>
    <title>Data Analysis</title>
    <link rel='shortcut icon' href="{{url_for('static', filename='favicon.ico')}}" type='image/x-icon'/ >
    <style id="StoredStyle">
        #IfStored {
            display: none;
        }
    </style>
</head>
<canvas id="game_canvas"></canvas>
<body onload="onload();">
    <div id="topRight">
        <p class="unselectable" style="margin-bottom: 1px; margin-top: 5px;">Theme:</p>
        <div class="together">
            <p class="unselectable">Dark  </p>
            <label class="switch" id="ThemeSwitch">
                <input id="themeSwitch" type="checkbox" onclick="changeTheme(this.checked);">
                <span class="slider round"></span>
            </label>
            <p class="unselectable">  Light</p>
        </div>
    </div>
    <div id="centreSection">
        <form action="/stations/get_data" method="post">
            <fieldset>
                <legend>Cache settings</legend>
                <label for="checkbox" class="form-label">NOTE: It will still use already cached files unless you use force refresh. The Cache option is for if you download something; should it be cached.</label><br>
                <input type="checkbox" id="Cache" name="Cache" oninput="updateCacheStatus();">Cache?</input><br>
                <input type="checkbox" id="Force" name="Force" oninput="updateCacheStatus();">Force refresh cache?</input><br>
                <p id="CacheStatus"></p>
                <button type="button" onclick="updateCacheStatus();">Refresh Cache Status</button>
                <label for="button" class="form-label">Delete Cache</label>
                <input type="button" onclick="DeleteCache();" value="🗑"><br>
            </fieldset>
            <fieldset>
                <legend>Files</legend>
                <p id="FilesInfo"><b>Status: </b>FILES NOT STORED</p>
                <textarea disabled id="FilesStatus" style="resize: none;" cols='60' rows='3'></textarea><br>
                <button type="submit" class="btn btn-primary">Get files</button>
            </fieldset>
        </form>
        <form action="/quicksave/upload">
            <fieldset>
                <legend>Savestate</legend>
                <div class="together centre">
                    <p>Quicksave files: </p>
                    <button onclick="Download();" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-snoweb svg-theme-light mx-auto" x="0" y="0" width="50px" height="30px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
                            <path d="M69.8,85.7H30.2c-8.768,0-15.9-7.133-15.9-15.9v-4c0-2.209,1.791-4,4-4s4,1.791,4,4v4c0,4.356,3.544,7.9,7.9,7.9h39.6c4.356,0,7.9-3.544,7.9-7.9v-4c0-2.209,1.791-4,4-4s4,1.791,4,4v4c0,8.768-7.133,15.9-15.9,15.9Z" class="svg-fill-primary"></path>
                            <path d="M68.628,47.171c-1.561-1.562-4.096-1.562-5.656,0l-8.972,8.972V18.3c0-2.209-1.791-4-4-4s-4,1.791-4,4V56.143l-8.971-8.972c-1.562-1.562-4.095-1.562-5.657,0-1.562,1.562-1.562,4.095,0,5.657l15.8,15.8h0c.186,.186,.391,.352,.61,.498,.1,.067,.208,.112,.312,.169,.125,.068,.244,.143,.377,.198,.134,.055,.273,.087,.411,.128,.112,.033,.22,.076,.336,.099,.259,.051,.521,.079,.784,.079s.525-.028,.783-.079c.117-.023,.226-.067,.339-.101,.137-.04,.275-.072,.408-.127,.133-.055,.254-.131,.38-.2,.103-.056,.21-.101,.308-.167,.22-.147,.426-.314,.612-.501l15.797-15.797c1.562-1.562,1.562-4.094,0-5.657Z" class="svg-fill-primary" opacity=".5"></path>
                        </svg>
                    </button>
                </div>
                <div class="together centre">
                    <p>Quickload files: </p>
                    <button id="Load" type="submit" {{ is_disabled }}>
                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-snoweb svg-theme-light mx-auto" x="0" y="0" width="50px" height="30px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
                            <path d="M70.1,86.1H29.9c-8.822,0-16-7.178-16-16v-4c0-2.209,1.791-4,4-4s4,1.791,4,4v4c0,4.411,3.589,8,8,8h40.2c4.411,0,8-3.589,8-8v-4c0-2.209,1.791-4,4-4s4,1.791,4,4v4c0,8.822-7.178,16-16,16Z" class="svg-fill-primary"></path>
                            <path d="M50,70.1c-2.209,0-4-1.791-4-4V27.514l-9.28,9.223c-1.567,1.558-4.098,1.55-5.657-.018-1.557-1.567-1.549-4.1,.018-5.657l16.097-15.997,.013-.013,.003-.003c.35-.345,.749-.612,1.173-.802l.005-.002,.005-.002,.005-.002,.005-.002c.022-.009,.044-.019,.066-.028h.001c.459-.193,.962-.302,1.49-.309h.008c.014-.006,.03,0,.046,0h.042c.52,.006,1.016,.11,1.47,.296,.478,.195,.925,.486,1.312,.873l16.094,15.994c1.567,1.558,1.575,4.09,.018,5.657-1.557,1.568-4.089,1.575-5.656,.018l-9.28-9.223v38.585c0,2.209-1.791,4-4,4Z" class="svg-fill-primary" opacity=".5"></path>
                        </svg>
                    </button>
                </div>
            </fieldset>
        </form>
        <div id="IfStored">
            <br>
            <form>
                <label for="select" class="form-label">Pick a graph to show</label>
                <input
                    name="location"
                    id="graphSelect"
                    list="GraphOpts"
                    class="disableAutoComplete"
                    oninput="checkGraphInp()"
                    style="width: 500px;"
                />
                <datalist id="GraphOpts"></datalist>
                <input type="button" onclick="graph(document.getElementById('graphSelect').value);" value="SHOW!" id="GraphConfirm" disabled>
            </form>
            <br>
            <!--img src='data:image/png;base64,{{data}}' onerror="this.style.display='none'"/-->
        </div>
        <div class="centre">
            <div id="WeatherPlotArea">
                <button id="trainAIButton" type="button" onclick="alert('hi')" style="position: absolute;top: 0;left: 0;">Train<br>AI<br>here</button>
                <div id="myplot"></div>
            </div>
            <div id="LocationsPlot"></div>
        </div>
    </div>
    <script type=text/javascript>
        if ({{ files }}) {
            document.getElementById("FilesInfo").innerHTML = "<b>Status: </b>FILE STORAGE IN PROGRESS";
            file_status_check();
        }
    </script>
</body>